<div class="gt-country-info gt-margin">
    <div class="container">
        <div class="gt-country-info-inner">
            <div class="gt-country-info-weather cloudy">
                <div class="gt-country-info-forecast">
                    <div class="gt-aling-items-flex-end">
                        <span>Франция, Париж</span><span class = "gt-country-info-forecast-deg gt-country-info-forecast-big">+22</span>
                    </div>
                      <div>
                          <span>Малооблачно, небольшой дождь, гроза, 2 м/с</span>
                      </div>
                    <div class = "gt-country-info-forecast-icon-wrapper">
                        <div class = "gt-country-info-forecast-icon">
                            <p>Днем</p>
                            <img src="./img/weather_icons/_cloud.svg" alt="cloud">
                            <p class = "gt-country-info-forecast-deg">+23</p>
                            <p>штиль</p>
                        </div>
                        <div class = "gt-country-info-forecast-icon">
                            <p>Вечером</p>
                            <img src="./img/weather_icons/_cloud-drizzle.svg" alt="cloud-drizzle">
                            <p class = "gt-country-info-forecast-deg">-0</p>
                            <p>2 м/с</p>
                        </div>
                        <div class = "gt-country-info-forecast-icon">
                            <p>Ночью</p>
                            <img src="./img/weather_icons/_cloud-drizzle-lightning.svg" alt="cloud-drizzle-lightning">
                            <p class = "gt-country-info-forecast-deg">0</p>
                            <p>5 м/с</p>
                        </div>
                        <div class = "gt-country-info-forecast-icon">
                            <p>Утром</p>
                            <img src="./img/weather_icons/_cloud-fog.svg" alt="_cloud-fog.svg">
                            <p class = "gt-country-info-forecast-deg">+3</p>
                            <p>3 м/с</p>
                        </div>
                    </div>
                    <div class="gt-curr-time" data-gmt = '2' >

                      <span class = "gt-country-info-forecast-big gt-curr-time-time"></span>
                      <span class = "gt-curr-time-date"></span>

                    </div>
                </div>
                <div class="gt-country-info-globe">
                    <img src="./img/globe/france.png" alt="france">
                </div>
            </div>
            <div class="gt-country-info-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5653983.191555981!2d2.2088257500000004!3d46.2157467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2z0KTRgNCw0L3RhtC40Y8!5e0!3m2!1sru!2sua!4v1442479905499" width="600" height="450" frameborder="0" style="border:0" allowfullscreen="">
                </iframe>
            </div>

        </div>
        <div class="gt-country-info-inner       ">
            <div class="gt-country-info-gov">
                <img src="./img/flags/france.svg" alt="france">
                <img src="./img/national_emblen/france.png" alt="france">

            </div>
            <div class="gt-country-info-text">
                <div class="gt-country-info-text-inner">
                    <p>Официальное название:</p><p>Французская Республика</p>
                </div>

                <div class="gt-country-info-text-inner">
                    <p>Дата независимости:</p><p>Основано 843 год (Верденский договор), 1958 год (Пятая французская республика)</p>
                </div>

                <div class="gt-country-info-text-inner">
                    <p>Столица:</p><p>Париж</p>
                </div>

                <div class="gt-country-info-text-inner">
                    <p>Площадь</p><p>674 685 км² (48-я в мире)</p>
                </div>

                <div class="gt-country-info-text-inner">
                    <p>Население: </p><p>66 200 000 чел. (21-я в мире, 2014)</p>
                </div>

                <div class="gt-country-info-text-inner">
                    <p>Официальный язык:</p><p>французский</p>
                </div>
                <div class="gt-country-info-text-inner">
                    <p>Валюта: </p><p>евро (EUR, код 978)</p>
                </div>



            </div>

        </div>
    </div>
</div>