<div class="gt-collection-link-wrapper container gt-margin">
    <div class="gt-collection-link">
        <div class="gt-collection-link-img">

            <div class="gt-collection-link-img-slider">
                //= ../slider_disappear/collection-sliders-page

            </div>

            <div class="gt-collection-link-slider-wrapper">
                <p>Интересные факты
                </p>
                <div class="gt-collection-link-slider gt-slider gt-slider-tram  gt-slider-has-arrow" data-duration = "1000">
                    <div class="gt-slider-container">
                        <div class="gt-slider-inner">
                            <p>
                                Запуск фонариков быстро приобрел популярность во всем Таиланде
                            </p>
                        </div>
                        <div class="gt-slider-inner">
                            <p>
                                Запуск фонариков быстро приобрел популярность во всем Таиланде, объединяя традиции двух
                                фестивалей – Лойкратхонг в центральной части и Йи Пэн на севере страны
                            </p>
                        </div>
                        <div class="gt-slider-inner">
                            <p>
                                Запуск фонариков быстро приобрел популярность во всем Таиланде, объединяя традиции двух
                                фестивалей – Лойкратхонг в центральной.
                            </p>
                        </div>
                        <div class="gt-slider-inner">
                            <p>
                                Запуск фонариков быстро приобрел популярность во всем Таиланде, объединяя традиции двух
                                фестивалей – Лойкратхонг в центральной
                                части и Йи Пэн на севере страны
                                части и Йи Пэн на севере страны
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="gt-collection-link-text">
            <a href=".#" class="gt-link-header"> Саграда Фамилия (исп. Templo Expiatorio de la Sagrada Familia)</a>
            <p>Дом Висенс – первая самостоятельная работа Антони Гауди. Он построен из необработанного камня и цветной
                керамической
                плитки, расположенной в шахматном порядке с растительными орнаментами. Дом представляет собой
                практически
                правильный четырехугольник, за исключением столовой и курительного салона. И конструктивное, и
                декоративное
                решение вдохновлено испано-арабским стилем мудехар. Уделяя внимание каждой детали строения, Гауди сам
                спроектировал
                решетки ворот, окон, балконов и выполнил эскизы интерьеров. Дом частный, и к сожалению, довольствоваться
                можно только экстерьером. Зато каким!</p>
            <div class="gt-collection-link-read-more">
                <a href=".#" class="gt-btn gt-btn-30 gt-btn-plane">Подробнее</a>
            </div>
        </div>
    </div>
</div>