
<div class="gt-video gt-video-opened gt-margin" data-youtube = "COwlqqErDbY">
    <div class="gt-video-inner gt-video-width">
        <div class="gt-video-img">
            <div class = "gt-img-holder-abs gt-shadow-100">
                <img src="./img/video-bg.png" alt="abs">
            </div>
        </div>
    </div>
    <div class="gt-video-text">
        <div class="container">
            <p><span class="gt-a-video">Видео</span></p>
            <p>Тестовое название видео</p>

        </div>

    </div>
    <span class="gt-video-switch"></span>
    <span class="gt-video-play"></span>
    <span class="gt-video-pause"></span>
    <span class="gt-video-uncover"></span>
</div>