<div class="gt-article-wrapper gt-margin ">
    <div class="container container-no-padd gt-margin">


        <div class="gt-article-outer gt-article-outer-option gt-margin">

            //= ../news_block/news-block-big.html

            //= ../news_block/news-block-aside-tall-aside-tall
            //= ../news_block/news-block-aside-aside-video-aside

            //= ../news_block/news-block-big.html


            //= ../news_block/news-block-aside-tall-video-aside-tall
            //= ../news_block/news-block-aside-aside-aside

            //= ../news_block/news-block-big.html


            //= ../news_block/news-block-aside-tall-aside-tall
            //= ../news_block/news-block-aside-aside-aside

            //= ../news_block/news-block-big.html


            //= ../news_block/news-block-aside-tall-aside-tall
            //= ../news_block/news-block-aside-aside-video-aside




        </div>
        <div class="gt-article-table-wrapper gt-article-table-wrapper-option gt-margin">
            <div class="gt-news-prev-big-outer">
                <h2 class="gt-article-table-header">
                    ПОПУЛЯРНЫЕ
                </h2>
                //= ../news_items/_new-prew-big
                //= ../news_items/_new-prew-big
                //= ../news_items/_new-prew-big
                //= ../news_items/_new-prew-big
            </div>
            <div class="gt-margin gt-news-aside-holder">
                //= ../news_items/_new-aside
            </div>


            <div class="gt-news-prev-big-outer">

                //= ../news_items/_new-prew-big
                //= ../news_items/_new-prew-big

            </div>
            <div class="gt-margin gt-news-aside-holder">
                //= ../news_items/_new-aside

            </div>
            <div class="gt-margin gt-news-aside-holder">
                //= ../news_items/_new-aside
            </div>
        </div>
    </div>
    <div class="container gt-margin">
        //= ../news_block/news-block-aside-aside-aside-aside.html
    </div>
</div>
//= ../read_more/index