<div class="gt-must container gt-margin">
    <div class="gt-must-left gt-box-shadow">
        <div class="gt-video" data-youtube="W0LHTWG-UmQ">
            <div class="gt-video-inner gt-video-height">
                <div class="gt-video-img">
                    <div class="gt-img-holder-abs">
                        <img src="./img/must-video.png" alt="">
                    </div>
                </div>
            </div>
            <div class="gt-video-switch-wrapper">
                <span class="gt-video-switch"></span>
            </div>
        </div>
    </div>
    <div class="gt-must-right">
        <div class="gt-must-right-outer">
            <div class="gt-must-right-inner gt-inner-scroll gt-scroll-cursor-custom">
                <div class="gt-inner-scroll-inner gt-must-right-inner-text">
                    <h2><span class="gt-a-news gt-black">10 вещей которые нужно сделать в Франции</span></h2>
                    <ul>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                    </ul>
                </div>


            </div>



        </div>
    </div>
</div>