<div class="gt-hundret-menu-wrapper">
    <div class="container">
        <ul class="gt-hundret-menu">
            <li class="gt-hundret-menu-all">
                <a href = "/guide.html">Все</a></li>
            <li class="gt-hundret-menu-top gt-active">
                <a href = "/guide-top.html">Топ 100</a></li>
            <li class="gt-hundret-menu-culture">
                <a href = "/guide-culture-object.html">Культурные обьекты</a></li>
            <li class="gt-hundret-menu-nature">
                <a href = "/guide-nature-and-animals.html">Природа и животные</a></li>
            <li class="gt-hundret-menu-relax">
                <a href = "/guide-entertainment.html">Отдых и развлечения</a></li>
            <li class="gt-hundret-menu-wonders">
                <a href = "/guide-wonders.html">Чудеса света</a></li>
        </ul>
    </div>
</div>