<div class="gt-read-more-slider gt-img-holder gt-margin" data-bg="country_page/read-more-slider-bg.png">
    <div class="container">
        <div class="gt-text-block gt-black">
            <h2>Особенности и традиции Франции</h2>
            <p>Каждая страна, любая нация определяеться особенностями своих традиций и обычаев, вызывая присущие только ей ассоциации. Франция обладает элегантность, иысканностью, стилем, шармом. Страна имеет неизменные традиции, которые должны держаться со сторогостью в рамках этикета. Каждая страна, любая нация определяеться особенностями своих традиций и обычаев, вызывая присущие только ей ассоциации. Франция обладает элегантность, иысканностью, стилем, шармом. Страна имеет неизменные традиции, которые должны держаться со сторогостью в рамках этикета.</p>
        </div>
    </div>
    <div class="container container-no-padd">
        <div class="gt-slider gt-slider-has-arrow gt-slider-tram gt-slider-no-padding" data-count="3">
            <div class="gt-slider-container">
                <div class="gt-slider-inner">
                    <div class="gt-slider-inner-outer">
                        <div class="gt-slider-inner-img">
                            <div class="gt-img-holder-abs">
                                <img src="./img/bottom_slider/bottom-slider-1.png" alt="">
                            </div>
                        </div>
                        <div class="gt-slider-inner-text">
                            <div class="gt-slider-inner-text-header">
                                <h2>Типичные блюда французской кухни</h2>
                            </div>
                            <p class="gt-read-more-slider-text-inner">Франция – колыбель изысканной кухни. Местные рестораны становятся обладателями звезд Мишлен, а французские повара являются основателями лучших кулинарных традиций.</p>
                        </div>
                        <div class="gt-slider-inner-link">
                            <a class="gt-btn gt-btn-30 gt-btn-plane" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="gt-slider-inner">
                    <div class="gt-slider-inner-outer">
                        <div class="gt-slider-inner-img">
                            <div class="gt-img-holder-abs">
                                <img src="./img/bottom_slider/bottom-slider-2.png" alt="">
                            </div>
                        </div>
                        <div class="gt-slider-inner-text">
                            <div class="gt-slider-inner-text-header">
                                <h2>Шоппинг во Франции</h2>
                            </div>

                            <p class="gt-read-more-slider-text-inner">Франция являеться мировым лидером в области предметов розкоши, в том числе модных аксессуаров, парфумерии и косметики, привлекая туристов в просторные торговые центры и элитные брендовые бутики. еще одна строчка но не надо</p>
                        </div>
                        <div class="gt-slider-inner-link">
                            <a class="gt-btn gt-btn-30 gt-btn-plane" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="gt-slider-inner">
                    <div class="gt-slider-inner-outer">
                        <div class="gt-slider-inner-img">
                            <div class="gt-img-holder-abs">
                                <img src="./img/bottom_slider/bottom-slider-3.png" alt="">
                            </div>
                        </div>
                        <div class="gt-slider-inner-text">
                            <div class="gt-slider-inner-text-header">
                                <h2>Туристические места, где главная достопримечательность - живтоные</h2>
                            </div>
                            <p class="gt-read-more-slider-text-inner">Франция славится огромным количеством праздничных мероприятий, здесь зайливо переплитаются традиции древних народных праздников и светских событий, давно возведенных в ранг общенациональных.</p>

                        </div>
                        <div class="gt-slider-inner-link">
                            <a class="gt-btn gt-btn-30 gt-btn-plane" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
