<div class="gt-link-block-city gt-margin">
    <div class="gt-link-block-city-text container">
        <h2>
            Популярные города Франции
        </h2>
        <p>
            Франция страна по европейским меркам большая и, главное, очень разнообразная. Шикарные пляжи Лазурного побережья, заснеженные курорты Альп и Пиренеев, древние замки Луары, бесчисленные музеи и памятники архитектуры – все это Франция. Безусловным лидером среди популярных туристических направлений является Париж. Предпочитаемыми для пляжного отдыха остаются Ницца и Канны. Многочисленные виды отдыха на открытом воздухе предлагает прекрасный горнолыжный курорт Шамони. Своей уникальной застройкой привлекает путешественников средневековый Страсбург.
        </p>
    </div>
    <div class="gt-link-block-city-links container">
        <div class="gt-link-block-city-links-item">
            <div class="gt-link-block-city-links-item-img">
                <img src="../img/country/country-link-3.png" alt="">
                <div class="gt-link-block-city-links-item-img-a">
                    <a href="/city-paris.html">Подробнее</a>
                </div>
            </div>
            <div class="gt-link-block-city-links-item-text">
                <span><a href="/city-paris.html" class="gt-a-news">Париж</a></span>
                <p>Париж — один из самых привлекательных городов мира,
                    принимающий миллионы гостей, стремящихся</p>
            </div>
        </div>
        <div class="gt-link-block-city-links-item">
            <div class="gt-link-block-city-links-item-img">
                <img src="../img/country/country-link-2.png" alt="">
                <div class="gt-link-block-city-links-item-img-a">
                    <a href="/city-paris.html">Подробнее</a>
                </div>
            </div>
            <div class="gt-link-block-city-links-item-text">
                <span><a href="/city-paris.html" class="gt-a-news">Ницца</a></span>
                <p>Ницца — красивейший курорт Лазурного берега,
                    расположенный на юге Франции</p>
            </div>
        </div>
        <div class="gt-link-block-city-links-item">
            <div class="gt-link-block-city-links-item-img">
                <img src="../img/country/country-link-1.png" alt="">
                <div class="gt-link-block-city-links-item-img-a">
                    <a href="/city-paris.html">Подробнее</a>
                </div>
            </div>
            <div class="gt-link-block-city-links-item-text">
                <span><a href="/city-paris.html" class="gt-a-news">Страсбург</a></span>
                <p>Страсбург — красивый старинный город на
                    северо-востоке Франции, практически на самой границе...</p>
            </div>
        </div>


    </div>
</div>