<div class="gt-view-cards-icons gt-view-cards-icons-header">
        <div class="gt-view-cards-icons-item gt-view-cards-icons-visit"></div>
        <i class="gt-view-cards-icons-item gt-view-cards-icons-item gt-view-cards-icons-bookmarks gt-title"></i>
        <div class="gt-view-cards-icons-item gt-view-cards-icons-pin"></div>
        <div class="gt-view-cards-icons-item gt-view-cards-icons-pin-plus"></div>
        <div class="gt-view-cards-icons-item gt-view-cards-icons-share gt-title"></div>
        <div class="gt-view-cards-icons-item-after">
            <a href=".#"><i class="fa fab fa-facebook-f"></i></a>
            <a href=".#"><i class="fab fa-twitter"></i></a>
            <a href=".#"><i class="fab fa-google-plus-g"></i></a>
            <a href=".#"><i class="fab fa-pinterest-p"></i></a>
        </div>
        <div class="gt-view-cards-icons-item gt-view-cards-icons-star"></div>
        <div class="gt-view-cards-icons-item gt-view-cards-icons-seen"></div>
</div>