@import "../../stylesheets/_palette";
@import "../../stylesheets/_variables";
@import "../../stylesheets/_mixin";

.container.gt-action-menu {
  padding: 0;
}

.gt-action-menu {
  flex-direction: row;
  &-wrapper {
    height: 400px;
    background: url("../img/main-bg-1.png") no-repeat 0 0;
    background-size: contain;
  }

  .gt-events {
    .icon-holder {
      background-image: url("../img/icons/events-icon-blue.svg");
      background-position: 50% 50%;
      background-size: 50% auto;

      &:hover {
        background-image: url("../img/icons/events-icon-white.svg");

      }

    }

  }
  .gt-publications {
    .icon-holder {
      background-image: url("../img/icons/publications-icon-blue.svg");
      background-position: 50% 50%;
      background-size: 50% auto;
      &:hover{
        background-image: url("../img/icons/publications-icon-white.svg");

      }
    }

  }

  .gt-routes {
    .icon-holder {
      background-image: url("../img/icons/routes-icon-blue.svg");
      background-position: 50% 50%;
      background-size: 50% auto;
      &:hover{
        background-image: url("../img/icons/routes-icon-white.svg");

      }
    }

  }

  .gt-plane-round-world {
    .icon-holder {
      background-image: url("../img/icons/plane-round-world-icon-blue.svg");
      background-position: 45% 45%;
      background-size: 55% auto;
      &:hover{
        background-image: url("../img/icons/plane-round-world-icon-white.svg");

      }
    }

  }

  .gt-castle {
    .icon-holder {
      background-image: url("../img/icons/castle-icon-blue.svg");
      background-position: 50% 50%;
      background-size: 50% auto;
      &:hover{
        background-image: url("../img/icons/castle-icon-white.svg");

      }
    }

  }

  .gt-wine {
    .icon-holder {
      background-image: url("../img/icons/wine-icon-blue.svg");
      background-position: 50% 50%;
      background-size: 75% auto;
      &:hover{
        background-image: url("../img/icons/wine-icon-white.svg");

      }
    }

  }
  .gt-paper {
    .icon-holder {
      background-image: url("../img/icons/paper-icon-blue.svg");
      background-position: 50% 50%;
      background-size:  auto 45%;
      &:hover{
        background-image: url("../img/icons/paper-icon-white.svg");

      }
    }

  }
  .gt-card-edit {
    .icon-holder {
      background-image: url("../img/icons/card-edit-icon-blue.svg");
      background-position: 60% 50%;
      background-size:  auto 45%;
      &:hover{
        background-image: url("../img/icons/card-edit-icon-white.svg");

      }
    }

  }

  &-inner {
    width: 33.3%;
    flex-direction: row;
    position: relative;
    min-height: 90px;
    padding: 60px 0 60px 100px;

  }
  .icon-holder {
    position: absolute;
    left: 0;
    top: 60px;
    height: 90px;
    width: 90px;
    border: 1px solid @btn-border;
    background-color: @white;
    background-repeat: no-repeat;
    border-radius: 50%;
    .gt-transition();
    span {
      position: absolute;
      top: .25em;
      right: -.5em;
      font-weight: @normal;
      color: @white;
      font-size: 14px;
      width: 25px;
      height: 25px;
      line-height: 18px;
      background: @blue;
      border-radius: 50%;
      text-align: center;
      padding-top: .35em;
      .gt-transition();
      box-shadow: 1px 0 5px rgba(0, 0, 0, 0);
    }
    &:hover {
      border-color: @blue;
      background-color: @blue;
      span {
        color: @blue;
        background: @white;
        box-shadow: 1px 0 5px rgba(0, 0, 0, .25);
      }
    }
  }
  .text-holder {
    flex-direction: column;
    padding: 0 15px;
    width: 100%;
    p {
      &:first-of-type {
        color: @grey-dark;
        font-size: 16px;
        font-weight: @bold;
      }
      &.text-inner {
        font-size: 14px;
        font-weight: @normal;
        line-height: 1.5;
        padding-top: 30px;
      }
    }
  }
  &-two-columns {
    background: none;
    height: auto;
  }
  &-column {
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
      line-height: 1.8;
      padding-right: 20%;
      flex-shrink: 1;
    }
    &-inner {
      width: 33%;
      flex-direction: column;
      font-size: 14px;

      .icon-holder {
        position: static;
        //align-self: center;
        flex-shrink: 0;
      }
      p {
        padding-top: 20px;
        color: @black;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .container.gt-action-menu {
    padding-left: inherit;
    padding-right: inherit;
  }

  .gt-action-menu {
    &-wrapper {
      height: 350px;
    }
    &-two-columns {
      height: auto;
    }
    &-inner {
      padding: 60px 60px 60px 70px;
    }
    .icon-holder {
      height: 70px;
      width: 70px;
      span {
        font-size: 13px;
        line-height: 12px;
        width: 20px;
        height: 20px;
      }
    }
    .text-holder {
      p {
        &.text-inner {
          padding-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .gt-action-menu {
    &-wrapper {
      height: 290px;
      background-size: cover;
    }
    &-two-columns {
      height: auto;
      .gt-action-menu {
        flex-wrap: wrap;
      }
    }
    &-inner {
      height: auto;
      padding: 65px 0 0;
      justify-content: flex-start;

      &:nth-child(2) {
        justify-content: center;
      }
      &:last-of-type {
        justify-content: flex-end;
      }
    }
    .icon-holder {
      position: relative;
      left: auto;
      top: auto;
      height: 140px;
      width: 140px;
      span {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 27px;
      }
    }
    .text-holder {
      display: none;
    }
    &-column {
      p {
        padding-right: 0;
      }
      &-inner {
        .icon-holder {
          align-self: center;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 666px) {
  .gt-action-menu {
    &-wrapper {
      height: 210px;
    }
    &-two-columns {
      height: auto;
    }
    &-inner {
      padding-top: 45px;
    }
    .icon-holder {
      height: 110px;
      width: 110px;
      span {
        font-size: 15px;
        width: 28px;
        height: 28px;
        line-height: 20px;
      }
    }
    &-column {
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 479px) {
  .gt-action-menu {
    &-wrapper {
      height: 160px;
    }
    &-two-columns {
      height: auto;
    }
    &-inner {
      padding-top: 30px;
    }
    .icon-holder {
      height: 90px;
      width: 90px;
      span {
        font-size: 14px;
        width: 25px;
        height: 25px;
        line-height: 18px;
      }
    }
    &-column {
      font-size: 15px;
      &-inner {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .gt-action-menu {
    .icon-holder {
      height: 65px;
      width: 65px;
      span {
        font-size: 12px;
        width: 20px;
        height: 20px;
        line-height: 15px;
      }
    }
  }
}
