<div class="container gt-action-menu-wrapper gt-action-menu-two-columns  gt-margin">
    <div class="gt-action-menu">
        <div class="gt-action-menu-column">
            <p>
                Элегантная и романтическая Франция является одним из самых популярных
                туристических направлений в мире.
                Она богата историческим наследием и
                архитектурными шедеврами, насыщена разнообразием мест для
                незабываемого отдыха - от комфортных пляжей до горнолыжных курортов,
                а каждый город здесь обладает своим особым шармом.
            </p>
        </div>
        <div class="gt-action-menu-column">
            <div class="gt-action-menu-column-inner gt-plane-round-world">
                <div class="icon-holder"></div>
             <p>Более 80 млн. туристов в год (1-я вмире)</p>
            </div>
            <div class="gt-action-menu-column-inner gt-castle">
                <div class="icon-holder">
                </div>
                <p>Около 40 тысяч
                    замков и дворцов</p>
            </div>
            <div class="gt-action-menu-column-inner gt-wine">
                <div class="icon-holder"></div>
                <p>Входит в тройку
                    мировых лидеров вин</p>
            </div>
        </div>
    </div>
</div>
