<div class="container gt-action-menu-wrapper">
    <div class="gt-action-menu">
            <div class="gt-action-menu-inner gt-publications">
                <div class="icon-holder">
                    <span>1</span>
                </div>
                <div class="text-holder">
                    <p>Сообщения</p>
                    <p class="text-inner">Советуем узнать больше и увидеть </p>
                </div>
            </div>
            <div class="gt-action-menu-inner gt-paper">
                <div class="icon-holder">
                    <span>3</span>
                </div>
                <div class="text-holder">
                    <p>Новости</p>
                    <p  class="text-inner">По Вашим публикациям есть новые комментарии</p>
                </div>
            </div>
            <div class="gt-action-menu-inner gt-card-edit">
                <div class="icon-holder">
                    <span>99</span>
                </div>
                <div class="text-holder">
                    <p>Публикации</p>
                    <p  class="text-inner">У Вас пока нет созданных маршрутов</p>
                </div>
            </div>
    </div>
</div>
