<div class="gt-slider-inner gt-view-cards-inner"
     data-bookmark='Как работает CSS Flexbox: наглядное введение в систему компоновки элементов на веб-странице'
     data-href='https://tproger.ru/translations/how-css-flexbox-works/'>
    <div class="gt-slider-inner-outer gt-view-cards-inner-outer">
        <div class="gt-slider-inner-img  gt-view-cards-inner-img">
            <div class="gt-img-holder-abs">
                <img src="./img/country/view-card.png" alt="">
            </div>
        </div>
        <div class="gt-view-cards-text">
            <div class="gt-view-cards-text-left">
                <a href="/showplace.html">Эйфелева башня в две строки</a>
            </div>
            <div class="gt-view-cards-text-right">
                <p>Босния и Герцеговина</p>
                <p class="gt-view-cards-counter">Еще <span> +7</span>
                </p>
            </div>
            <div class="gt-view-cards-marks">
                <i class="gt-view-cards-marks-seven"></i>
                <i class="gt-view-cards-marks-top"></i>
                <i class="gt-view-cards-marks-unesco"></i>
                <i class="gt-view-cards-marks-guinness"></i>
            </div>
        </div>
    </div>
    <div class="gt-view-cards-icons">
        <div class="gt-view-cards-icons-item gt-view-cards-icons-visit gt-title"></div>
        <div class="gt-view-cards-icons-item gt-view-cards-icons-pin-plus">
            <div class="gt-view-cards-icons-item-inner gt-view-cards-icons-item-inner-column">
                <a href=".#"><span>Босния и Герцговина</span></a>
                <a href=".#"><span>Италия</span></a>
                <a href=".#"><span>Литва</span></a>
                <a href=".#"><span>Молдова</span></a>
            </div>
        </div>
        <div class="gt-view-cards-icons-item gt-view-cards-icons-share gt-title">
            <div class="gt-view-cards-icons-item-inner gt-view-cards-icons-item-inner-line">
                <a href=".#"><i class="fab fa-facebook-f"></i></a>
                <a href=".#"><i class="fab fa-twitter"></i></a>
                <a href=".#"><i class="fab fa-google-plus-g"></i></a>
                <a href=".#"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </div>
        <i class="gt-view-cards-icons-item gt-view-cards-icons-bookmarks gt-title"></i>

    </div>
</div>